body {
  overflow: auto !important;
  padding-right: 0 !important;
}

.seviceSetup {
  background-color: #6770d22e;
  min-height: 100vh;
  padding: 85px 25px 30px 225px;
  font-family: 'Euclid Circular B', sans-serif;
}
.setupContent {
  border-radius: 5px;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); */
  min-height: 75dvh;
  height: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
}
.category {
  border: 1px solid #0000001a;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.categoryName {
  border-bottom: 1px solid #0000001a;
  position: relative;
  padding: 8px 0;
}
.serviceList {
  padding: 10px 50px;
}

.serviceList p {
  font-family: 'Euclid Circular B', sans-serif !important;
  font-weight: 300 !important;
}
.MuiTypography-root {
  font-family: 'Euclid Circular B', sans-serif !important;
  /* font-weight: 500 !important; */
}

.addCategory {
  color: #4099ff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}
.css-jjmhs9-MuiButtonBase-root-MuiMenuItem-root,
.css-1sjeu2v-MuiButtonBase-root-MuiButton-root,
.css-yq1gv0-MuiButtonBase-root-MuiButton-root {
  font-family: 'Euclid Circular B', sans-serif !important;
}
.searchBox {
  width: 80% !important;
}
.addCategoryDiv {
  width: 20%;
}
.addCategoryDivMobile {
  display: none !important;
}
.css-6oaxdm {
  min-width: 4px;
}
@media (max-width: 1100px) {
  .searchBox {
    width: 75% !important;
  }
  .addCategoryDiv {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .seviceSetup {
    padding: 115px 25px 30px 25px;
  }
}
@media (max-width: 567px) {
  .seviceSetup {
    padding: 100px 10px 30px 10px;
  }
  .setupContent {
    padding: 20px 10px;
  }
  .addCategoryDiv {
    display: none !important;
  }
  .addCategoryDivMobile {
    display: flex !important;
    width: 25%;
  }
  .css-1d6wzja-MuiButton-startIcon {
    margin: 0 !important;
  }
  .css-1b8zmy1-MuiButtonBase-root-MuiButton-root {
    padding: 10px !important;
  }
}
