.bookingPage {
  background-color: #6770d22e;
  min-height: 100vh;
  height: 100%;
  padding: 115px 25px 30px 225px;
}
.bookingPage h1 {
  font-size: 1.25rem;
}
.bookingTable {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  margin-top: 20px;
  padding: 20px;
}

.bookingPage #myTable {
  width: 100% !important;
}

.paginate_button {
  padding: 0 !important;
  margin: 0 !important;
}

.bookingPage label {
  display: flex;
}
/* .bookingTable tbody tr td:nth-child(3) {
  width: 10px !important;
}
.bookingTable tbody tr td:nth-child(4) {
  width: 10px !important;
} */

/* .bookingTable tbody tr td:nth-child(2) {
  width: 100%;
}

.bookingTable tbody tr td:nth-child(3) {
  width: 50px;
} */
.bookingTable tbody tr td,
.bookingTable th {
  text-align: start !important;
}

colgroup {
  display: none;
}

@media (max-width: 768px) {
  .bookingPage {
    padding: 115px 25px 30px 25px;
  }
}
