@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');

div {
  font-family: 'Euclid Circular B', sans-serif;
}
.patientModalInfo p,
.patientModalInfo h5 {
  padding: 0;
  margin: 0;
}

.patientModalInfo span {
  font-size: 13px;
  color: #939393;
  font-weight: 500;
}

.otherPatientInfo p {
  margin: 8px 0;
  font-size: 16px;
}
.otherPatientInfo {
  margin-top: 20px;
}
.otherPatientInfo span {
  color: #939393;
  font-size: 15px;
}
.pendingIcon svg {
  color: #ffb64d;
  font-size: 1.5rem;
  width: 6rem;
  height: 6rem;
}
.approvedIcon svg {
  color: #2ed8b6;
  font-size: 1.5rem;
  width: 6rem;
  height: 6rem;
}
.colorStatus {
  max-width: 5px;
  padding: 0;
  margin-left: 10px;
}
.iconStatus {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  margin-top: 10px;
}
.iconStatus select {
  font-size: 14px;
  width: 66%;
  margin: auto;
  margin-top: 10px;
}
.otherPatientInfo p {
  font-weight: 600;
}
.otherPatientInfo p span {
  font-weight: 300;
}
