.cancelPage {
  background-color: #6770d22e;
  min-height: 100dvh;
  height: 100%;
  padding: 115px 25px 30px 225px;
}
.cancelPage h1 {
  font-size: 1.25rem;
}

.cancelTable {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  min-height: 75dvh;
  margin-top: 20px;
  padding: 20px;
}
.cancelTable tbody tr td,
.cancelTable th {
  text-align: start !important;
}

.cancelTable #myTable {
  width: 100% !important;
}

colgroup {
  display: none;
}
.cancelTable th span {
  font-size: 12px;
}
.cancelTable tbody tr td {
  font-size: 12px !important;
}
.cancelTable tbody tr td,
.cancelTable th {
  text-align: start !important;
  /* font-size: 14px; */
  color: #6c757d;
}
.cancelTable tbody tr td:nth-child(2) {
  color: #333;
  font-weight: 500;
}
.dt-paging {
  text-align: end;
}
.dt-search {
  text-align: end;
}

@media (max-width: 768px) {
  .cancelPage {
    padding: 115px 25px 30px 25px;
  }
}
