.confirmPage {
  background-color: #6770d22e;
  min-height: 100dvh;
  height: 100%;
  padding: 115px 25px 30px 225px;
}
.confirmPage h1 {
  font-size: 1.25rem;
}

.confirmTable {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  min-height: 75dvh;
  margin-top: 20px;
  padding: 20px;
}
.confirmTable tbody tr td,
.confirmTable th {
  text-align: start !important;
}

.confirmTable #myTable {
  width: 100% !important;
}

colgroup {
  display: none;
}
.confirmTable th span {
  font-size: 12px;
}
.confirmTable tbody tr td {
  font-size: 12px !important;
}
.confirmTable tbody tr td:nth-child(2) {
  color: #333;
  font-weight: 500;
}
.confirmTable tbody tr td,
.confirmTable th {
  text-align: start !important;
  /* font-size: 14px; */
  color: #6c757d;
}

.manageBtn,
.editBtn,
.cancelBtn {
  border: none;
  background-color: initial;
  color: #2266d7;
  font-size: 12px;
  text-decoration: underline;
}

/* ***************************Loader*************************** */
.confirmManageloader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  /* top: 80px;
  left: 50%;
  transform: translateX(-50%); */
}

.confirmManageloader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #2266d7;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.confirmManageloader div:nth-child(1) {
  left: 8px;
  animation: flip1 0.6s infinite;
}

.confirmManageloader div:nth-child(2) {
  left: 8px;
  animation: flip2 0.6s infinite;
}

.confirmManageloader div:nth-child(3) {
  left: 32px;
  animation: flip2 0.6s infinite;
}

.confirmManageloader div:nth-child(4) {
  left: 56px;
  animation: flip3 0.6s infinite;
}

@keyframes flip1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flip3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes flip2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
@media (max-width: 768px) {
  .confirmPage {
    padding: 115px 25px 30px 25px;
  }
}
@media (max-width: 576px) {
  .confirmBtn {
    flex-direction: column;
  }
}
