.dropDownLocation .selected {
  background-color: #0d6efd;
}
.dropDownLocation {
  display: none;
}
.custom-dropdown-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

@media (max-width: 567px) {
  .locationSelect {
    display: none;
  }
  .dropDownLocation {
    display: initial;
  }
}
