.dashboard {
  background-color: #6770d22e;
  height: 100%;
  padding: 115px 25px 30px 225px;
}

.stats {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  gap: 2rem;
  margin-top: 20px;
  padding: 20px;
}

.stats .col-md-3 {
  position: relative;
  padding: 20px;
  font-size: 0.9rem;
  width: 22%;
  height: 150px;
  border-radius: 7px;
  color: #fff;
  /* width: 100%; */
}

.blue {
  background-color: #4099ff;
}
.green {
  background-color: #2ed8b6;
}
.yellow {
  background-color: #ffb64d;
}
.red {
  background-color: #ff5370;
}

.upcomingPatient {
  /* background-color: #fff; */

  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  gap: 2rem;
  margin-top: 20px;
  padding: 20px; */
  width: 100%;
  gap: 1rem;
}

.statsBlue {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #4099ff;
}
.statsGreen {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #2ed8b6;
}
.statsYellow {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #ffb64d;
}

.statsRed {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #ff5370;
}

.upcomingPatient .col-md,
.upcomingPatient .weeklyChart {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  margin-top: 20px;
  padding: 20px;
}

#myTable {
  /* width: 100%; */
  line-height: 30px;
}
thead tr th {
  font-size: 0.9rem;
}

tbody tr {
  font-size: 14px;
}

.fullCalendar,
.amChart {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  margin-top: 20px;
  padding: 20px;
}
.callendarSize {
  max-width: 1150px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}
.fc-button-group button {
  background-color: #f9f9f9 !important;
  color: #6c757d !important;
  border: none !important;
  font-weight: 500 !important;
}
.fc .fc-button-group > .fc-button.fc-button-active {
  background-color: #4096fa !important;
  color: #fff !important;
}
.fullCalendar thead tr th a,
.fc-daygrid-day-number {
  color: #333 !important;
  text-decoration: none;
}

.fc .fc-daygrid-event-harness,
.fc .fc-daygrid-event-harness a {
  color: #6c757d !important;
  background-color: #f9f9f9;
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 14px;
}

.fullCalendar tbody tr:hover {
  background-color: initial !important;
}
.fc-direction-ltr .fc-timegrid-slot-label-frame {
  text-align: initial;
}
.fc-theme-standard td {
  border: 1px solid #dddddd4d;
}
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none !important;
}

/* .fc-day {
  width: 10% !important;
} */
.fc-timegrid-axis {
  width: 5%;
}
.forLoading {
  height: 100%;
  width: 100%;
  background-color: #ffffffc7;
  position: absolute;
  z-index: 3;
}
