.dashboard {
  background-color: #6770d22e;
  height: 100%;
  padding: 115px 25px 30px 225px;
}

.stats {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  gap: 2rem;
  margin-top: 20px;
  padding: 20px;
}

.stats .col-md-3 {
  position: relative;
  padding: 20px;
  font-size: 0.9rem;
  width: 22%;
  height: 150px;
  border-radius: 7px;
  color: #fff;
  /* width: 100%; */
}

.blue {
  background-color: #4099ff;
}
.green {
  background-color: #2ed8b6;
}
.yellow {
  background-color: #ffb64d;
}
.red {
  background-color: #ff5370;
}

.upcomingPatient {
  /* background-color: #fff; */

  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  gap: 2rem;
  margin-top: 20px;
  padding: 20px; */
  width: 100%;
  gap: 1rem;
}

.statsBlue {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #4099ff;
}
.statsGreen {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #2ed8b6;
}
.statsYellow {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #ffb64d;
}

.statsRed {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #ff5370;
}

.upcomingPatient .col-md,
.upcomingPatient .weeklyChart {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  margin-top: 20px;
  padding: 20px;
}

#myTable {
  /* width: 100%; */
  line-height: 30px;
}
thead tr th {
  font-size: 0.9rem;
}

tbody tr {
  font-size: 14px;
}

.fullCalendar,
.amChart {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  margin-top: 20px;
  padding: 20px;
}
.callendarSize {
  max-width: 900px;
}
