.dashboard {
  background-color: #6770d22e;
  height: 100%;
  padding: 115px 25px 30px 225px;
}

.stats {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  gap: 2rem;
  margin-top: 20px;
  padding: 20px;
}

.stats .col-md-3 {
  position: relative;
  padding: 20px;
  font-size: 0.9rem;
  width: 22%;
  height: 150px;
  border-radius: 7px;
  color: #fff;
  /* width: 100%; */
}

.blue {
  background-color: #4099ff;
}
.green {
  background-color: #2ed8b6;
}
.yellow {
  background-color: #ffb64d;
}
.red {
  background-color: #ff5370;
}

.upcomingPatient {
  /* background-color: #fff; */

  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  gap: 2rem;
  margin-top: 20px;
  padding: 20px; */
  width: 100%;
  gap: 1rem;
}

.statsBlue {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #4099ff;
}
.statsGreen {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #2ed8b6;
}
.statsYellow {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #ffb64d;
}

.statsRed {
  border-radius: 50%;
  width: 40px !important;
  padding: 5px;
  height: 40px !important;
  box-shadow: 0 8px 15px rgba(62, 57, 107, 0.2);
  background-color: #fff;
  color: #ff5370;
}

.upcomingPatient .col-md,
.upcomingPatient .weeklyChart {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  margin-top: 20px;
  padding: 20px;
}

#myTable {
  /* width: 100%; */
  line-height: 30px;
}
.dashboard thead tr th {
  font-size: 0.9rem;
}

.dashboard tbody tr {
  font-size: 14px;
}

.fullCalendar,
.amChart {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  margin-top: 20px;
  padding: 20px;
}
.callendarSize {
  max-width: 1150px;
  margin: auto;
  margin-top: 10px;
  position: relative;
}
.dashboard .fc-button-group button {
  background-color: #f9f9f9 !important;
  color: #6c757d !important;
  border: none !important;
  font-weight: 500 !important;
}
.dashboard .fc .fc-button-group > .fc-button.fc-button-active {
  background-color: #4096fa !important;
  color: #fff !important;
}
.dashboard .fullCalendar thead tr th a,
.dashboard .fc-daygrid-day-number {
  color: #333 !important;
  text-decoration: none;
}

.dashboard .fc .fc-daygrid-event-harness,
.dashboard .fc .fc-daygrid-event-harness a {
  color: #6c757d !important;
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 14px;
}

.dashboard .fc-direction-ltr .fc-timegrid-slot-label-frame {
  text-align: initial;
}
.dashboard .fc-theme-standard td {
  border: 1px solid #dddddda7;
}
.dashboard .fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.dashboard .fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none !important;
}

/* .fc-day {
  width: 10% !important;
} */
.dashboard .fc-timegrid-axis {
  width: 5%;
}
.forLoading {
  height: 100%;
  width: 100%;
  background-color: #ffffffc7;
  position: absolute;
  z-index: 3;
}

.dashboard .fc-list-event-dot {
  display: none !important;
}

.dashboard .fc .fc-daygrid-day-frame {
  min-height: 90px;
}

.dashboard .fc-daygrid-event-harness a {
  box-shadow:
    0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(120, 120, 120, 0.4);
  background-color: #4096fa;
}
.dashboard .fc-daygrid-event-harness a:hover {
  background-color: #58a5fd;
}
.fullCalendar thead tr th a {
  color: #929292 !important;
}
.dashboard .fc-event-start span {
  color: #fff !important;
}
.dashboard .fc-list-event-title {
  background-color: #4099ff !important;
}

.dashboard .fc-h-event {
  background-color: var(--fc-event-bg-color);
  border: none;
  display: block;
}

@media (max-width: 1330px) {
  .stats .col-md-3 {
    width: 45%;
  }
  .dt-scroll-body {
    max-height: 200px !important;
  }
}
@media (max-width: 768px) {
  .dashboard {
    padding: 115px 25px 30px 25px;
  }
  .Navheader .col-md-6 {
    width: 30%;
  }
  .dt-scroll-body {
    max-height: 200px !important;
  }
  .upcomingPatient {
    flex-wrap: wrap;
  }
  .upcomingPatient .col-md,
  .weeklyChart {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .upcomingPatient {
    flex-wrap: wrap;
  }
  .stats .col-md-3 {
    width: 100%;
  }
  .stats .col-md {
    width: 50%;
  }
  .weeklyChart {
    width: 100%;
  }

  .fullCalendar {
    display: none;
  }
  .upcomingPatient .col-md {
    width: 100%;
  }
}
