.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6%;
  color: #090909;
  width: 3.5em;
  height: 3.5em;
  border-radius: 0.5em;
  background: #384c60;
  /* border: 1px solid #e8e8e8; */
  transition: all 0.3s;
  /* box-shadow: 6px 6px 12px #c5c5c5,
                 -6px -6px 12px #ffffff; */
  margin: 10px;
  display: none;
}

input[type='checkbox'] {
  /* -webkit-appearance: none; */
  display: none;
  visibility: hidden;
}

.menuButton span {
  width: 20px;
  height: 3px;
  background: #fff;
  border-radius: 100px;
  transition: 0.3s ease;
}

input[type]:checked ~ span.top {
  transform: translateY(230%) rotate(45deg);
  width: 20px;
}

input[type]:checked ~ span.bot {
  transform: translateY(-200%) rotate(-45deg);
  width: 20px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.mid {
  transform: translateX(-20px);
  opacity: 0;
}

@media (max-width: 768px) {
  .menuButton {
    display: flex;
  }
}
