.patientsPage {
  background-color: #6770d22e;
  min-height: 100vh;
  height: 100%;
  padding: 115px 25px 30px 225px;
}
.patientsPage h1 {
  font-size: 1.25rem;
}

.patientsTable {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  margin-top: 20px;
  padding: 20px;
  margin: auto;
  min-height: 75dvh;
}
.patientsTable tbody tr td,
.patientsTable th {
  text-align: start !important;
  /* font-size: 14px; */
  color: #6c757d;
}
.patientsTable tbody tr td:first-child {
  font-weight: 500;
  color: #333;
}
.patientsTable th span {
  font-size: 12px;
}

.patientsTable #myTable {
  width: 100% !important;
}

.patientsTable tbody tr td {
  font-size: 12px !important;
}

.patientsPage colgroup {
  display: none;
}
.patientsPage .dt-column-title {
  color: #6c757d;
}
.viewBtn {
  border: none;
  background-color: initial;
  color: #2266d7;
  font-size: 12px;
  text-decoration: underline;
}
.deleteBtn {
  border: none;
  background-color: initial;
  color: #d72222c6;
  font-size: 12px;
  text-decoration: underline;
}
.viewBtn .material-icons {
  font-size: 17px;
  margin-right: 3px;
  margin-top: 3px;
}
.patientsPage .dt-paging,
.patientsPage .dt-info,
.patientsPage .dt-length label,
.patientsPage .myTable_length label,
.patientsPage .dt-search label {
  font-size: 14px !important;
}
.dt-input {
  margin-right: 8px;
}
.patientsPage table.dataTable td.dt-empty {
  text-align: center !important;
}
.addPatientBtn {
  border: none;
}
.patientsPage tbody tr:hover {
  background-color: #e6f7ff !important;
}

@media (max-width: 768px) {
  .patientsPage {
    padding: 115px 25px 30px 25px;
  }
}
