.patientDetailsPage {
  background-color: #6770d22e;
  min-height: 100vh;
  height: 100%;
  padding: 115px 25px 30px 225px;
}
.patientDetailsPage h1 {
  font-size: 1.25rem;
}

.patientDetailsPage h1 a {
  color: #0053cd;
  text-decoration: none;
}

.patientDetailsPage h1 span {
  font-size: 1rem;
  color: #6c757d;
}

.patientInfo {
  background-color: initial;
  border-radius: 5px;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); */
  margin-top: 20px;
  /* padding: 20px; */
}

.patientInfo .col-md-3,
.patientInfo .col-md-5,
.col-md-8 {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.notes {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.33333333% - 40px);
  border-radius: 5px;
}
.col-md-8 {
  width: calc(66.66666667% + 10px);
  border-radius: 5px;
}
.notes p,
.patient-history p {
  font-size: 1.1rem !important;
}
.bg-history {
  background-color: #6770d25b;
  padding: 20px 60px;
  border-radius: 5px;
}
.history {
  background-color: #fff;
  padding: 10px;
}
.patientInfo .col-md-5 {
  border-radius: 0 5px 5px 0;
  padding: 40px 40px;
  margin-right: 20px;
}

.patientInfo .col-md-5 .col-md {
  border-bottom: 2px solid #6c757d0f;
}
.patientInfo .col-md-5 .row {
  /* border-bottom: 1px solid black; */
  gap: 2rem;
}
.patientInfo div p {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.col-md-3 {
  margin-right: 8px;
  border-radius: 5px 0 0 5px;
}

.patientImage {
  height: 130px;
  width: 130px;
  border: 1px solid rgba(0, 0, 0, 0.152);
  border-radius: 50%;
  overflow: hidden;
  background-color: #6770d25b;
}
.patientImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.patientInfo .col-md-3 h1 {
  font-weight: bolder;
  margin-bottom: 0;
}
.patientInfo .col-md-3 span {
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
}

.patientInfo .col-md span {
  font-weight: 500;
  color: #6c757d;
}
